<h1>Crear Categoria</h1>

<form class="form" action="/productos"method = "post">
    <div class="form_group">
        <label class="form_label" for="nombre">id categoria: </label>
        <input class="form_input" type="text" name="name" id="nombre">
    </div>
    <button class="button button--primary" type = "submit">Guardar</button>
</form>