<h1>Contacto</h1>

<form class="form" action="/contacto" method="post"
    <div class="form_group">
        <label class="form_label" for="Nombre">Nombre: </label>
        <input class="form_input" type="text" name="Nombre" id="nombre">
    </div>
    <div>
        <label class="form_label" for="correo">Correo: </label>
        <input class="form_input" type="email" name="correo" id="correo">
    </div>
    <div>
        <label class="form_label" for="mensaje">Mensaje: </label>
        <textarea name="mensaje" id="mensaje"></textarea>
    </div>
    <button class="button button--primary" type="submit">Enviar</button>
</form>