<h1>Inicio</h1>

<p>Ejercicio de hacer un CRUD con Node.js, express y un motor de base de datos, en este caso se utilizó SQLite.</p>

<img class="imagen" src="https://www.atatus.com/glossary/content/images/size/w960/2021/07/CRUD.jpeg" alt="Imagen CRUD">