    <h1>Productos</h1>
    
    <sectection class="products">
        <% productos.forEach(producto => { %>
        <article>
            <h2><%= producto.title %></h2>
            <p><%= producto.description %></p>
        </article>
        <% }) %>
    </sectection>

