<h1>Crear Categoria</h1>

<form class="form_group" action="/categorias"method = "post">
    <div>
        <label class="form_label" for="nombre">Nombre de categoría: </label>
        <input class="form_input" type="text" name="name" id="nombre">
    </div>
    <button class="btn-aceptar" type = "submit">Guardar</button>
    <a href="/categorias" class="btn-cancelar form_button_right">Cancelar</a>
</form>