<h1>Crear Categoria</h1>

<form action="/categorias"method = "post">
    <div>
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre">
    </div>
    <button type = "submit">Guardar</button>
</form>