<h1>Editar Categoria</h1>

<form class="form_group" action="/categorias/<%= categoria.id %>?_method=PUT"method = "post">
    <div>
        <label class="form_label" for="nombre">Nombre de la categoría: </label>
        <input class="form_input" type="text" name="name" id="nombre" value="<%= categoria.name %>">
    </div>
    <button class="btn-aceptar" type = "submit">Guardar</button>
    <a href="/categorias" class="btn-cancelar form_button_right">Cancelar</a>
</form>