<h1>Editar Categoria</h1>

<form action="/categorias/<%= categoria.id %>?_method=PUT"method = "post">
    <div>
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" value="<%= categoria.nombre %>">
    </div>
    <button type = "submit">Guardar</button>
</form>