<h1>Listado de Productos</h1>

<a class = "button button--primary" href="/categorias/create">Agregar un producto</a>

<section class="categorias">
<table>
    <thead> 
        <tr>
            <th>Producto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <body>
        <% categorias.forEach(categoria => { %>
        <tr>
            <td><a href="/categorias/<%= categoria.id %>"><%= categoria.name %></a></td>
            <td class="cell-inline">
                <a class="button button--primary" href="/categorias/<%= categoria.id %>/edit">Editar</a>
                <form
                class="from-delete"
                action="/categorias/<%= categoria.id %>?_method=DELETE" 
                method = "post">
                
                <button class="button button--danger" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </body>
</table>
</section>

<!-- confirmacion de eliminacion -->
<script>
    document.addEventListener("submit", (event) => {
        event.preventDefault();

        if (event.target.classList.contains("from-delete")) {
            const confirmar = confirm("¿Estás seguro de que deseas eliminar esta categoría?");
            if (confirmar) {
                event.target.submit();
            }
        }
    });
</script>