<h1>Detalle de categoria</h1>

<section class="Categorias">
<table>
    <thead> 
        <th>Categoría</th>
        <th>ID</th>
        <tr>
            <th><%= categoria.name%></th>
            <th><%= categoria.id%></th>
        </tr>
    </thead>
</table>
</section>