<h1>Listado de Productos</h1>

<a class = "button button--primary" href="/productos/create">Agregar producto</a>

<section class="listados">
<table>
    <thead> 
        <tr>
            <th>Producto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <body>
        <% productos.forEach(producto => { %>
        <tr>
            <td><a href="/productos/<%= producto.id %>"><%= producto.name %></a></td>
            <td class="cell-inline">
                <a class="button button--primary" href="/productos/<%= producto.id %>/edit">Editar</a>
                <form
                class="from-delete"
                action="/productos/<%= producto.id %>?_method=DELETE" 
                method = "post">
                
                <button class="button button--danger" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </body>
</table>
</section>

<!-- confirmacion de eliminacion -->
<script>
    document.addEventListener("submit", (event) => {
        event.preventDefault();

        if (event.target.classList.contains("from-delete")) {
            const confirmar = confirm("¿Estás seguro de que deseas eliminar esta categoría?");
            if (confirmar) {
                event.target.submit();
            }
        }
    });
</script>