<h1>Detalle del producto</h1>

<section class="Productos">
<table>
    <thead> 
        <th>ID</th>
        <th>Categoría</th>
        <tr>
            <th><%= producto.id%></th>
            <th><%= producto.name%></th>
        </tr>
    </thead>
</table>
</section>